/*
    Global Styles
*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
$payment-methods-color: #E0DCDC;
$white-background : #FFFFFF;
$form-input-gray-background: #D9D9D9;
$on-hover-grey : #6D6D6D;

// Effects
@import "./effects/hover.scss";

body {
    margin: 0;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.profile-section{
    display: flex;
    width: 100%;
    height: 900px;
    justify-content: center;
    padding-top: 70px;
    flex-direction: row;
    align-items: center;
}

.profileCard {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 420px;
    height: 700px;
    flex-direction: column;
    background-color: #95d1ec;
    border-radius: 20px;
    align-items: center;
    font-family: 'Raleway', 'roboto';
}

.profile-pic-frame{
    background-color:rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 220px;
    width: 210px;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    svg{
        width: 100%;
        height: 100%;
    }
}

.profile-tittle{
    font-weight: 600;
    font-size: 26px;
    color: rgb(255, 255, 255);
}

.profile-value{
    font-weight: 300;
    font-size: 20px;
    color: black;
}

.info-container{
    height: 100%;
    display: flex;
}

.login-section{
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    form {
        justify-self: center;
    }
}

.input-custom{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    hr{
        border: 1px solid rgba(0,0,0,0.5);
        width: 700px;
    }
}

.text-input{
    display: flex;
    flex-direction: row;
    gap: 30px;

    input{
        outline: 0px;
        width: 100%;
    }

}

.decorative-container{
    display: inline-flex;
    height: 100vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/background-login-register.svg');
    align-items: center;
    justify-content: center;
    img{
        z-index: 2;
        height: 45%;
        width: 45%;
        filter: drop-shadow(-10px 90px 4px rgba(0, 0, 0, 0.5));
    }
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 40px;
    padding-left: 100px;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 40px;
    padding-left: 100px;
    
    form{
        align-self: center;
    }

}

.info-container{    
    font-family: "Roboto";


    form{
        font-family: "Roboto";
    }

    button{
        margin-left: 500px;
        display:inline-block;
        margin-top: 20px;
    }


    h1{
        font-size: 80px;
        font-weight: 700;
    }

    span{
        font-size:19px;
        color: gray;
    }
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    button{
        width: 50%;
    }
}

.transactionsTable{
    display: flex;
    width: 900px;
    height: 700px;
    background-color: white;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: -20px;
    text-align: center;
    z-index:1;

    h1{
        font-family: "Raleway", "Roboto";
        font-size: 30px;
        font-weight: 500;
        margin-left: 20px;
        margin-top: 20px;
    }
}

.row{
    display: grid;
    font-family: "Raleway", "Roboto";
    margin-left: 20px;
    margin-right: 20px;
    padding-left:30px;
    padding-right: 30px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    align-items: center;

    div{
        font-size: 20px;
        font-weight: 400;
    }

    .table-header{
        font-size: 20px;
        font-weight: 600;
        color: white;
    }
}

.row-header{
    background-color: #596daf ;
}

.pagination{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    
    li{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
    }
}

.method-availables{
    background-color: #95d1ec;
    font-family: "Raleway", "Roboto";
    border-radius: 20px;
    margin-left: -10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    width: 420px;
    height: 700px;
    z-index: 0;

    h1{
        color: white;
        font-size: 30px;
        font-weight: 500;
        margin-left: 20px;
        margin-top: 20px;
    }
}

.method-card{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    justify-content: center;
    border-radius: 10px;
    gap: 40px;

    svg{
        color: black;
    
        &:hover{
            color: #596daf;
        }
    }



    img{
        width: 60px;
        height: 60px;
    }
}

.method-table{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;

    .sectionPaginated{
        padding-top: 5px;
        width: 100%;
    }

    .item{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .items{
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
    }
}

.method-card__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Raleway", "Roboto";
    gap: 20px;
}

.payment-section{
    display: flex;
    display: row;
    padding-left: 40px;
    padding-top: 60px;
    justify-content: space-evenly;
}

#cardNumberInput{
    text-indent: 30px;
}

#credit-card{
    color: white;
    font-size: 28px;
    padding-left:35px;
    padding-top: 25px;
}


.PaymentForm{
    font-family: "Raleway", "Roboto";

    input{
        background-color: rgba(16,16,16,0.9);
        height: 65px;
        color: rgba(255,255,255,0.6);
        font-weight: 300;
    }
}

#gridForm{
    gap: 50px 0px;
}

.PaymentMenu{
    display: block;
    width: 1100px;
    height: 900px;
}

.PaymentBoxContainer{
    background-color: white;
    height: 800px;
    width: 1000px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding-top: 60px;
}

.PaymentCupon{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 40px;

    input{
        background-color: $form-input-gray-background;
        text-align: center;
        width: 450px;
        height: 60px;
    }

    input::placeholder {
        color: #000000;
        font-size:18px;
        font-weight: 700;
        font-family: "Raleway";
    }
}

.PaymentCuponText{
    width: 100%;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
    font-weight: 400;
    padding-left: 40px;

    div{
        font-size: 28px;
        font-weight: 600;
    }

    span{
        font-size: 16px;
        letter-spacing: 2px;
        color: rgba(0,0,0,0.6);
    }
}

.PaymentBoxGrid{
    display: flex;
    flex-direction: row;
    gap: 60px 0px;
    flex-wrap: wrap;
    padding: 20px;
}

.PaymentMethodBox{
    display: flex;
    width: 300px;   
    height: 200px;
    background-color: $payment-methods-color;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    justify-content: center;

    img{
        object-fit: contain;
        width: 80%;
    }

    &:hover{
        background-color: $on-hover-grey;
    }
}

.Tabs_menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;

    div{
        display: flex;
        justify-content: center;
        gap: 8px;
        background-color: $form-input-gray-background;
        border-radius: 10px 10px 0px 0px;
        width: 200px;
        text-align: center;
        font-size: 20px;
        font-family: "Raleway";
        padding-top: 10px;

        &:hover{
            background-color: $on-hover-grey;
            color:white;
        }

        svg{
            font-size: 23px;
        }

        svg::hover{
            color: white;
        }
    }
}

.rccs__card {
    rotate: -90deg;  
}

.CardSection{
    display: block;
    height: 240px;
}

.bill-container{
    display: block;
    background-color:rgba(6,5,5,0.6) ;
    width: 450px;
    height: 700px;
    margin-top:60px;
    border-radius: 45px;
}

.bill-info-container{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    font-family: "Raleway";
}

.bill-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 10px;
    text-align: center;
}

.bill-cost-container{
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 60px 0px;
    padding: 20px;
    padding-left: 40px;
    font-family: "Raleway";

    .bill-cost-icon{
        justify-self: end;
        align-self: center;
        padding-right: 20px;

        svg{
            font-size: 45px;
        }
    }

    .bill-cost{
        justify-self: center;
        align-self: center;
    }
}

.bill-price{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.category{
    color: rgba(255,255,255,0.6);
    margin:auto;
    font-size:18px;
    font-weight: 350;
}

.value{
    text-align: center;
    color: #FFFFFF;
    font-size:18px;
    justify-self: end;
    font-weight: 350;
    margin:auto;
    width: 100%;
}

.divider{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: medium none;
    border-top: 3px dashed rgba(255,255,255,0.5);
}

.integer{
    font-weight: 700;
    font-size:40px;
}

.semi-integer{
    font-weight: 700;
    font-size:38px;
}

.decimal{
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 21px;
}

.ticket-bullets{
    overflow: hidden;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}