/*
    Global Styles
*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
$payment-methods-color: #E0DCDC;
$white-background : #FFFFFF;
$form-input-gray-background: #D9D9D9;
$on-hover-grey : #6D6D6D;

// Effects
@import "./effects/hover.scss";

body {
    margin: 0;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.info-container{
    height: 100%;
    display: flex;
}

.login-section{
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    form {
        justify-self: center;
    }
}

.input-custom{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    hr{
        border: 1px solid rgba(0,0,0,0.5);
        width: 700px;
    }
}

.text-input{
    display: flex;
    flex-direction: row;
    gap: 30px;

    input{
        outline: 0px;
        width: 100%;
    }

}

.decorative-container{
    display: inline-flex;
    height: 100vh;
    width: 50%;
    background-image: url('../assets/background-login-register.svg');
    align-items: center;
    justify-content: center;
    img{
        z-index: 2;
        height: 45%;
        width: 45%;
        filter: drop-shadow(-10px 90px 4px rgba(0, 0, 0, 0.5));
    }
}


.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 40px;
    padding-left: 100px;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 40px;
    padding-left: 100px;
    
    form{
        align-self: center;
    }

}

.info-container{    
    font-family: "Roboto";


    form{
        font-family: "Roboto";
    }

    button{
        margin:auto;
        display:block;
        margin-top: 20px;
    }

    h1{
        font-size: 80px;
        font-weight: 700;
    }

    span{
        font-size:19px;
        color: gray;
    }
}

.PaymentMenu{
    display: block;
    width: 1100px;
    height: 900px;
}

.PaymentBoxContainer{
    background-color: white;
    height: 800px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 60px;
}

.PaymentCupon{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 40px;

    input{
        background-color: $form-input-gray-background;
        text-align: center;
        width: 490px;
        height: 60px;
    }

    input::placeholder {
        color: #000000;
        font-size:18px;
        font-weight: 700;
        font-family: "Raleway";
    }
}

.PaymentCuponText{
    width: 100%;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
    font-weight: 400;
    padding-left: 40px;

    div{
        font-size: 28px;
        font-weight: 600;
    }

    span{
        font-size: 16px;
        letter-spacing: 2px;
        color: rgba(0,0,0,0.6);
    }
}

.PaymentBoxGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 60px 0px;
    padding: 20px;
}

.PaymentMethodBox{
    display: flex;
    width: 300px;   
    height: 200px;
    background-color: $payment-methods-color;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    justify-content: center;

    img{
        height: 100%;
    }

    &:hover{
        background-color: $on-hover-grey;
    }
}

.Tabs_menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;

    div{
        display: flex;
        justify-content: center;
        gap: 8px;
        background-color: $form-input-gray-background;
        border-radius: 10px 10px 0px 0px;
        width: 200px;
        text-align: center;
        font-size: 20px;
        font-family: "Raleway";
        padding-top: 10px;

        &:hover{
            background-color: $on-hover-grey;
            color:white;
        }

        svg{
            font-size: 23px;
        }

        svg::hover{
            color: white;
        }
    }
}

.rccs__card {
    rotate: -90deg;  
}

.bill-container{
    display: block;
    background-color:rgba(6,5,5,0.6) ;
    width: 450px;
    height: 700px;
    margin-top:60px;
    border-radius: 45px;
}

.bill-info-container{
    padding-top: 90px;
    display: flex;
    justify-content: center;
    font-family: "Raleway";
}

.bill-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 60px;
}

.bill-cost-container{
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 60px 0px;
    padding: 20px;
    padding-left: 40px;
    font-family: "Raleway";

    .bill-cost-icon{
        justify-self: end;
        align-self: center;
        padding-right: 20px;

        svg{
            font-size: 45px;
        }
    }

    .bill-cost{
        justify-self: center;
        align-self: center;
    }
}

.bill-price{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.category{
    color: rgba(255,255,255,0.6);
    font-size:18px;
    font-weight: 350;
}

.value{
    text-align: center;
    color: #FFFFFF;
    font-size:18px;
    justify-self: end;
    font-weight: 350;
}

.divider{
    align-self: center;
    margin-top: 50px;
    margin-bottom: 10px;
    border: medium none;
    border-top: 3px dashed rgba(255,255,255,0.5);
}

.integer{
    font-weight: 700;
    font-size:40px;
}

.decimal{
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 21px;
}

.ticket-bullets{
    overflow: hidden;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}