$payment-methods-color: #E0DCDC;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.payment-form {
    height: 162px;
    width: 226px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: $payment-methods-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
    img {
        max-height: 140%;
    }
}

.payment-menu {
    margin-left: 170px;
    margin-top: 400px;
    background-color: red;
    display: inline-block;
    height: 654px;
    width: 769px;
}

.payment-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-payment-methods{
    padding-top: 50px;
    background-color: beige;
    display: flex;
    width: 100%;
    height: 80%;
    padding-left: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.discount-box{
    height: 20%;
    background-color: blue;
    display: flex;
    gap: 150px;
    width: 100%;
    padding-left: 30px;
    align-items: center;
}